RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^site/(.*)$ index.php?pg=$1
RewriteRule ^city/(.*)$ cidade.php
RewriteRule ^cad/(.*)$ cadastrar.php
RewriteRule ^logar/(.*)$ logar.php
RewriteRule ^sair/(.*)$ logout.php
RewriteRule ^comp/(.*)$ compra.php

RewriteRule ^comentario/(.*)$ securimage/comenta.php
RewriteRule ^prioridade/(.*)$ securimage/prioridade.php
RewriteRule ^email/(.*)$ securimage/envia.php
RewriteRule ^voto/(.*)$ enquete/votar.php
RewriteRule ^resultado/(.*)$ enquete/resultado.php
RewriteRule ^news/(.*)$ newsletter/gravar.php
RewriteRule ^pesquisa/(.*)$ class/geraUrl.php
RewriteRule ^encartes1/(.*)$ encartes/encartes.php
RewriteRule ^cadastros/(.*)$ cad_dados.php
RewriteRule ^enderecos/(.*)$ cad_endereco.php
RewriteRule ^lista_enderecos/(.*)$ endereco_lista.php
RewriteRule ^senhas/(.*)$ cad_senha.php
RewriteRule ^cep/(.*)$ internas/cep.php
RewriteRule ^carrinho_add/(.*)$ carrinho/carrinho.php?id=$1

RewriteRule ^carrinho_update/(.*)$ carrinho/carrinho.php?id=$1?id=$1
RewriteRule ^frete/(.*)$ correio/retorno.php
RewriteRule ^log/(.*)$ login.php?ids=$1
RewriteRule ^privacidade/(.*)$ documentos/privacidade.pdf
RewriteRule ^termos/(.*)$ documentos/termos.pdf
RewriteRule ^lances/(.*)$ lances.php?ids=$1
RewriteRule ^lance/(.*)$ lance.php